.brand-gradient{
            
    background: #4111ee; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4111ee, #32cd59); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4111ee, #32cd59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}
.banner-holder{

    background-image: url(images/banner.jpg);
    background-size: cover;
    background-position: bottom;
}